<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/window.css')}}">
</head>

<body>
    <div class="head-status">
        {% include "notif.html" %}
        {% include "info.html" %}
    </div>
    {% include "links.html" %}
    <div class="content">
        <h3>
            Your emails:
        </h3>
        <table>
            <tr>
                <th class="table-index">Index</th>
                <th>From</th>
                <th>Subject</th>
                <th class="table-date">Date</th>
                <th class="table-time">Time</th>
                <th>Body</th>
            </tr>
            {% for row in data %}
            <tr>
                <td class="table-index">{{ loop.index }}</td>
                <td>{{ row.from }}</td>
                <td>{{ row.subject }}</td>
                <td class="table-date">{{ row.date }}</td>
                <td class="table-time">{{ row.time }}</td>
                <td>{{ row.body }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            {% set prev_page = page_number - 1 %}
            {% set next_page = page_number + 1 %}
            {% if prev_page > 0 %}
            <a href="{{ url_for('inbox', page=prev_page) }}">Previous page</a>
            {% endif %}
            {% if there_is_next_page %}
            <a href="{{ url_for('inbox', page=next_page) }}">Next page</a>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notif.js') }}"></script>
    <script>
        if ("{{ js }}") {
            var page_name = "{{ page_name }}";
            var head_label = document.getElementById("head-label");
            setTimeout(function () {
                setPageName(head_label, page_name);
            }, 4000);
        };
    </script>
</body>

</html>