{% block links %}
<div class="head-links">
    <p>
        <a href="/">Index</a>
    </p>
    {% if request.cookies.get("username") %}
    <p>
        <a href="/send">Send</a>
    </p>
    <p>
        <a href="/inbox">Inbox</a>
    </p>
    <p>
        <a href="/sent">Sent</a>
    </p>
    <p>
        <a href="/signout">Signout</a>
    </p>
    {% else %}
    <p>
        <a href="/signup">Signup</a>
    </p>
    <p>
        <a href="/signin">Signin</a>
    </p>
    {% endif %}
</div>
{% endblock %}