<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/window.css')}}">
</head>

<body>
    <div class="head-status">
        {% include "notif.html" %}
        <div id="head-info" class="head-info">
            <p>
                <b>
                    Hello {{ username }}
                </b>
            </p>
        </div>
    </div>
    {% include "links.html" %}
    <div class="content">
        <h3>
            Send email:
        </h3>
        <form method="post">
            <p>
                <input type="text" name="to" id="to" placeholder="To">
            </p>
            <p>
                <input type="text" name="subject" id="subject" placeholder="Subject">
            </p>
            <p>
                <input type="text" name="body" id="body" placeholder="Body">
            </p>
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notif.js') }}"></script>
    <script>
        if ("{{ js }}") {
            var page_name = "{{ page_name }}";
            var head_label = document.getElementById("head-label");
            setTimeout(function () {
                setPageName(head_label, page_name);
            }, 5000);
        };
    </script>
</body>

</html>