<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sent</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/window.css')}}">
</head>

<body>
    <div class="head-status">
        {% include "notif.html" %}
        {% include "info.html" %}
    </div>
    {% include "links.html" %}
    <div class="content">
        <h3>
            Sent emails:
        </h3>
        <table>
            <tr>
                <th class="table-index">Index</th>
                <th>To</th>
                <th>Subject</th>
                <th class="table-date">Date</th>
                <th>Body</th>
            </tr>
            {% for row in data %}
            <tr>
                <td class="table-index">{{ loop.index }}</td>
                <td>{{ row.to }}</td>
                <td>{{ row.subject }}</td>
                <td class="table-date">{{ row.date }}</td>
                <td>{{ row.body }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <button class="previous-page">Previous</button>
            <button class="next-page">Next</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notif.js') }}"></script>
    <script>
        if ("{{ js }}") {
            var page_name = "{{ page_name }}";
            var head_label = document.getElementById("head-label");
            setTimeout(function () {
                setPageName(head_label, page_name);
            }, 4000);
        };
    </script>
</body>

</html>