<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='window.css')}}">
</head>
<body>
    <div class="head-label">Signin</div>
    <div class="head-links">
        <p>
            <a href="/">Index</a>
        </p>
        <p>
            <a href="/signup/">Signup</a>
        </p>
        <p>
            <a href="/signin/">Signin</a>
        </p>
    </div>
    <div class="content">
        <form method="post">
            <p>
                <input type="text" name="username" id="username" placeholder="Enter username">
            </p>
            <p>
                <input type="text" name="password" id="password" placeholder="Enter password">
            </p>
            <button type="submit">Signin</button>
        </form>
    </div>
</body>
</html>