<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/window.css')}}">
</head>

<body>
    <div class="head-status">
        <div id="head-label" class="head-label{% if not signup_flag %} error-bg{% endif %}">
            {{ signup_message }}
        </div>        
        <div id="head-info" class="head-info">
            <p>
                <b>
                    #
                </b>
            </p>
        </div>
    </div>
    {% include "links.html" %}
    <div class="content">
        <form method="post">
            <p>
                <input type="text" name="username" id="username" placeholder="Enter username">
            </p>
            <p>
                <input type="text" name="password" id="password" placeholder="Enter password">
            </p>
            <p>
                <input type="text" name="email" id="email" placeholder="Enter email">
            </p>
            <button type="submit">Signup</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notif.js') }}"></script>
    <script>
        if ("{{ not signup_flag }}") {
            var username = "{{ username }}";
            var page_name = "{{ page_name }}";
            var head_label = document.getElementById("head-label");
            setTimeout(function () {
                setPageName(head_label, page_name);
            }, 5000);
        };
    </script>
</body>

</html>